<div>
  <button mat-button>Normal mat-button</button>
  <button mat-raised-button>Raised mat-button</button>
  <button mat-flat-button>Flat mat-button</button>
  <button mat-stroked-button>Stroked mat-button</button>
</div>


<div>
  <button mat-icon-button>Icon Button</button>
  <button mat-fab>Fab Button</button>
  <button mat-mini-fab>Mini Fab Button</button>
</div>

<div>
  <button mat-button color="primary">Primary color</button>
  <button mat-button color="accent">Accent color</button>
  <button mat-button color="warn" disableRipple>Warn color (no ripple effect)</button>
  <button mat-raised-button color="primary">Primary color</button>
  <button mat-raised-button color="accent">Accent color</button>
  <button mat-raised-button color="warn">Warn color</button>
</div>
